@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply !h-auto;
}

body,
html[data-theme="light"] {
  @apply bg-white dark:bg-zinc-900;
}

.theme-doc-markdown > h1 + * {
  @apply mt-0;
}

/* Navbar */
.navbar {
  @apply bg-white dark:bg-zinc-800;
}

/* Hero */
.hero {
  @apply relative py-16 text-center overflow-hidden h-auto
  text-black bg-white
  dark:text-white dark:bg-zinc-900;
}

.hero > * {
  @apply relative z-[1];
}

.hero::before,
.hero::after {
  @apply content-[""] absolute z-0 inset-0;
}

.hero::before {
  @apply brightness-[0.85] dark:brightness-[0.20];
  background-image: url("/static/img/buta-pattern.svg");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 29%;
}

.hero::after {
  background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgb(24 24 27) 70%);
}
[data-theme="light"] .hero::after {
  background: radial-gradient(rgba(0, 0, 0, 0) 0%, #fff 70%);
}

.hero__title {
  @apply font-bold mb-1;
}
.hero__subtitle {
  @apply text-zinc-600 dark:text-zinc-400 mb-0;
}

/* Footer */
.footer {
  @apply !bg-zinc-700;
}

/* Button */
.button--primary {
  @apply text-white hover:text-white;
}
