/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  position: relative;
  color: var(--ifm-color-inverted);
  background-color: var(--ifm-background-color);
  padding: 4rem 0;
  text-align: center;
  overflow: hidden;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
}

.hero::before {
  background-image: url("/static/img/buta-pattern.svg");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 29%;
  filter: brightness(0.25);
}

[data-theme="light"] .hero::before {
  filter: brightness(0.85);
}

.hero::after {
  background: radial-gradient(
    rgba(0, 0, 0, 0) 0%,
    var(--ifm-background-color) 70%
  );
}

.hero > * {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 996px) {
  .hero {
    padding: 2rem;
  }
}

.hero__subtitle {
  opacity: 0.6;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
